.footer{
    background-color: #000E44;
}
.footer h3{
    margin-bottom: 20px;
}
.footer p{
    line-height: 1.1rem;
    color: #848e9F;
}

.logo-img{
    background-color: #DF3F00;
}

.sit{
    line-height: 15px;
}